html,body{
    height:100%;
    width:100%;
    margin:0px;
}
body {
    position: relative;
    background-color: #616161;
}

h1,
h2,
h3,
h4 {
    font-family: 'Quatrocentro', serif;
    font-weight: bold;
}

p,
a,
li {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}

a {
    color: #6097A0;
}

.affix {
    top: 20px;
    z-index: 9999 !important;
}

nav.col-md-2 a {
    color: #ffffff;
    font-size: 20px;
}

.col-md-2 a:active,
.active,
.col-md-2 a:hover,
.col-md-e a:focus,
.col-md-e a:visited {
    background-color: #6097A0 !important;
}

#header {
    background-color: #333333;
    text-align: center;
}

#landingpage, #introrow, #intro{
    overflow-y:auto;
    height:100%;
}
#landingPagetitle{
    font-family: 'Oswald', sans-serif;
    font-weight:normal;
    font-size:40px;
}

#intro {
    background: url('../media/chemoBill-small.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
/* #landingpage, #introrow, #intro{
    overflow-y:hidden;
    height:100%;
} */

#introtext{
    color: #ffffff;
    margin: 0px;
    padding: 50px 200px 50px 200px;
}

.introtext {
    background-color: #333333;
    padding: 15px;
    font-size: 30px;
}

.container {
    margin: 0px;
}

#diagnosis,
#FinancialAssistance,
#outcome,
#copingMechanisms {
    background-color: #ffffff;
    padding: 40px;
    margin-right: -15px;
    margin-top: -20px;
}

#introduction,
#savingsRates,
#solutions {
    background-color: #8D848C;
    color: #ffffff;
    padding: 40px;
    margin-right: -15px;
    margin-top: -20px;
}

#savingsRates {
    text-align: center;
}

#savingsRates a,#solutions a {
    color: rgb(75, 119, 126);
    font-weight: bold;
}

#costOfpharmaceuticals
 {
    background-color: #333333;
    color: #ffffff;
    padding: 40px;
    margin-right: -15px;
    margin-top: -20px;
}

#peopleText {
    margin-right: 40px;
    font-size: 24px;
}

#karinaAndtom {
    margin-right: -20px;
}
#gradsection{
    margin:-80px -40px 0 -40px;
    background: #ffffff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#333333 10px, #ffffff ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333333 10px, #ffffff ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333333 10px, #ffffff ); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333333 10px, #ffffff ); /* Standard syntax */
}

#gradSection{
    height:100px;
    width:100%; 
}
#divider{
    border-width: 5px;
    border-style: 'double'
}
.sectionTitle {
    padding: 75px;
    text-align: center;
    font-size: 55px;
}

.chartTitle {
    margin-left: 100px;
}

.video {
    padding-bottom: 75px;
    text-align: center;
}

.explantext {
    margin: 100px;
    font-size: 30px;
}

.explantext2 {
    margin: 40px 300px 40px 200px;
    font-size: 30px;
    font-weight: 'Regular';
}

.explantextsmall {
    margin: 25px 200px 25px 100px;
    font-size: 24px;
}

.explantextsmallMargin {
    margin: 20px 100px 20px 100px;
    font-size: 30px;
}

.accent2 {
    color: #B54281;
    font-weight: bold;
}

.accent3 {
    color: #8D3164;
    font-weight: bold;
}

.bodylist {
    list-style-position: inside;
    text-align: center;
    font-size: 24px;
}

.bodylist-left {
    list-style-position: inside;
    text-align: left;
    font-size: 24px;
    margin-left: 275px;
    margin-right: 100px;
}


#budget{
    font-family: 'Oswald', sans-serif;
    font-size:1.25em;
}
#budget th{
    font-size:1.5em;
}
.center{
    text-align:center;
}
/**** Cancer Rates Chart ******/

    #cancerRatesChart{
        margin-bottom:75px;
    }

    #chart_buttons {
        margin-top: 100px;
       
    }

    input.filterButton[type=button] {
        position: relative;
        display: block;
        width: 75px;
        border: none;
        text-align: center;
        color: #616161;
        font-family: Helvetica;
        font-size: 12px;
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .lineLabels {
        font-family: Helvetica;
        font-size: 18px;
        letter-spacing: 5px;
    }


    #cancerTitle,
    #cancerexplan {
        margin-left: 150px;
    }

    .axis--x {
        fill: #616161;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    .axis--x line,
    path {
        stroke: #616161;
    }

    .axis--y {
        fill: #616161;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    .axis--y line {
        stroke: #616161;
    }

    .axis--y path {
        stroke: #616161;
    }

    .line {
        fill: none;
        stroke-width: 2px;
    }

    #lineChart {
        background-color: transparent;
    }


/*------Insured Rates-----*/

    #insuredratesimg {
        text-align: center;
    }


/**** Savings Rates Chart****/

    #savingsChart {
        margin-top: 0px;
    }

    #savingschartTitle {
        margin: 40px 0px -10px 100px;
    }

    .savingsDataLabels {
        font-size: 18px;
        fill: #ffffff;
    }

    .axisSavingsX text {
        font-size: 18px;
        fill: #ffffff;
    }

    .legendSavingText {
        font-size: 18px;
        fill: #ffffff;
    }


/*****Footer****/

footer {
    text-align: center;
    padding: 25px;
}
audio{
    
    max-width: 100px;
    height: auto;
    position: fixed;
    top: 100%;
    left:0px;
    object-fit: inherit;
}

/*=========================
    Icons
    ================= */




    ul.social-network {
        list-style: none;
        display: inline;
        margin-left: 0 !important;
        padding: 0;
    }

    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }


    /* footer social icons */

    .social-network a.icoRss:hover {
        background-color: #F56505;
    }

    .social-network a.icoFacebook:hover {
        background-color: #3B5998;
    }

    .social-network a.icoTwitter:hover {
        background-color: #33ccff;
    }

    .social-network a.icoGoogle:hover {
        background-color: #BD3518;
    }

    .social-network a.icoVimeo:hover {
        background-color: #0590B8;
    }

    .social-network a.icoLinkedin:hover {
        background-color: #007bb7;
    }

    .social-network a.icoRss:hover i,
    .social-network a.icoFacebook:hover i,
    .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i,
    .social-network a.icoVimeo:hover i,
    .social-network a.icoLinkedin:hover i {
        color: #fff;
    }

    a.socialIcon:hover,
    .socialHoverClass {
        color: #44BCDD;
    }

    .social-circle li a {
        display: inline-block;
        position: relative;
        margin: 0 auto 0 auto;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        text-align: center;
        width: 50px;
        height: 50px;
        font-size: 20px;
    }

    .social-circle li i {
        margin: 0;
        line-height: 50px;
        text-align: center;
    }

    .social-circle li a:hover i,
    .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }

    .social-circle i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }


    .footer-copyright {
        padding: 25px;
        background-color: transparent;
    }

/****Scrolling fanciness***/
    #copingMechanismslist{
        height:500px;
        width: 100%;
        margin-left:300px;
        margin-right:100px;
    }
    .element{
        display: none;
        margin-top:-5px;
        font-size: 24px;
    }